target/

.mvn/wrapper/maven-wrapper.jar

src/main/resources/application-local.properties
src/main/resources/application-dev.properties
src/main/resources/application-prod.properties

node_modules/

dist/

.angular/

.env
.env.local
.env.development
.env.production

src/environments/environment.local.ts

.idea/
*.iml
*.iws
*.ipr
nbproject/
nb-configuration.xml

.vscode/

.classpath
.project
.settings/
bin/


.DS_Store
.DS_Store?
._*
.Spotlight-V8
.Trashes
__MACOSX/

Thumbs.db
ehthumbs.db
Desktop.ini

*~

*.log
*.tmp
*.temp
logs/
spring.log

# JaCoCo (cobertura Java)
*.exec

coverage/

!.mvn/wrapper/maven-wrapper.properties
!mvnw
!mvnw.cmd

!src/main/resources/application.properties

!src/environments/environment.ts